<section class="col-sm-3 col-xs-5">
    <ul class="sidebar-menu">
      <li class="sidebar-header">菜单</li>
      <li>
        <a href="__URL__/buyStock">
          <i class="fa fa-th"></i> <span>买入</span>
        </a>
      </li>
      <li>
        <a href="__URL__/sellStock">
          <i class="fa fa-share"></i> <span>卖出</span>
        </a>
      </li>
      <li>
        <a href="__URL__/revoke">
          <i class="fa fa-dashboard"></i> <span>撤单</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-files-o"></i> <span>查询</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="sidebar-submenu">
          <li><a href="__URL__/showPersonalAccount"><i class="fa fa-circle-o"></i> 资金账户信息</a></li>
          <li><a href="__URL__/showHoldInfo"><i class="fa fa-circle-o"></i> 持仓信息</a></li>
          <li><a href="__URL__/showTodayDeal"><i class="fa fa-circle-o"></i> 当日成交</a></li>
          <li><a href="__URL__/showTodayCommission"><i class="fa fa-circle-o"></i> 当日委托</a></li>
          <li><a href="__URL__/showDeal"><i class="fa fa-circle-o"></i> 历史成交</a></li>
        </ul>
      </li>
    </ul>
  </section>

  <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  <script src="__PUBLIC__/js/sidebar-menu.js"></script>
  <script>
    $.sidebarMenu($('.sidebar-menu'))
  </script>