<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>股票交易系统——个人中心</title>
        <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="__PUBLIC__/css/dashboard.css">
    </head>

  <body id="index">
    <include file="./Application/Home/View/Public/header.html" />
    <include file="./Application/Home/View/Public/menu.html" />
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
     <gt name="export" value="0"> 
     <div class="table-responsive"> 
       <table class=" table table-striped">
       <thead><tr><th style="text-align: center;">证券名称(代码)</th>
           <th style="text-align: center;">当前持股</th>
           <th style="text-align: center;">可卖股数</th>
           <th style="text-align: center;">成本价</th>
           <th style="text-align: center;">市价</th>
           <th style="text-align: center;">操作</th>
        </tr>
       </thead>
       <tbody>
        <volist id="hold_info" name="hold_info">
          <tr><td style="text-align: center;vertical-align: middle">{<$hold_info.name>}({<$hold_info.stockid>})</td>
              <td style="text-align: center;vertical-align: middle">{<$hold_info.amount_total>}</td>
              <td style="text-align: center;vertical-align: middle">{<$hold_info.amount_usable>}</td>
              <td style="text-align: center;vertical-align: middle">{<$hold_info.cost_price>}</td>
              <td style="text-align: center;vertical-align: middle">{<$hold_info.price>}</td>
              <td style="text-align: center;vertical-align: middle">
                <a href="__URL__/buyStock">买</a>/
                <a href="__URL__/sellStock">卖</a>
              </td>
            </tr>
        </volist>    
       </tbody></table>
      <else/>暂时没有数据
      </gt>
   </div>
 </div>
  <script type="text/javascript">
    window.onload=function(){
      var item=document.getElementById("menu");
      var itemss=item.getElementsByTagName("li");
      itemss[3].className+="active";
    }
 </script>
 </body>
 </html>